/********* Extreme Weather  **********/

#map  {
  background:url('images/9-12/The_Natural_World/Extreme_Weather/What_Is_Weather/You_CanTell_The_Future/Translating_A_Weather_Map/Translating_A_Weather_Map_Bg.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}
.storypagetitleweather{
	text-align: center;
	margin-top: 55px;
}
#weather , #prepared , #weather_change , #safed , #storm , #definition , #pressurize , #wacky , #tell_future , #map , #pagecard1 , #pagecard2 , #pagecard3 , #pagecard4 , #baked , #parched , #soaked , #thunder , #supercells , #winter_storm , #cyclones  {
  background:url('images/9-12/The_Natural_World/Extreme_Weather/Extreme_Weather.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}
#weather_forms {
  background:url('images/9-12/The_Natural_World/Extreme_Weather/Forms_Of_Extreme_Weather/Forms_Of_Extreme_Weather_Bg.jpg') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

#geography {
  background:url('images/9-12/The_Natural_World/Extreme_Weather/Forms_Of_Extreme_Weather/The_Geography_Of_Weather/GOW_Bg.png') no-repeat;
  height:748px !important;
  overflow:hidden !important;
  width:1024px !important;
}

.plweather, .psweather, .bweather, .fweather {
  position:absolute;
  top:670px;
  left:1024px;
  z-index:20;
}

.plpsweather {
  background:url('images/9-12/The_Wonders_of_Science/play.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.micbtnweather {
  background:url('images/9-12/The_Wonders_of_Science/mic.png') no-repeat 0 -81px;
  height:81px;
  width:81px;
}

.rwweather {
  background:url('images/9-12/The_Wonders_of_Science/rw.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.plpsweather {
  background:url('images/9-12/The_Wonders_of_Science/play.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.fwweather {
  background:url('images/9-12/The_Wonders_of_Science/fw.png') no-repeat 0 -73px;
  height:73px;
  width:73px;
}

.menubtnweather {
  background:url('images/9-12/The_Wonders_of_Science/menu.png') no-repeat 0 -90px;
  height:90px;
  width:90px;
}


.homebtnweather {
  background:url('images/9-12/The_Wonders_of_Science/map.png') no-repeat 0 -74px;
  height:74px;
  width:80px;
}

.mpbtnweather {
  background:url('images/9-12/The_Wonders_of_Science/mpoints.png') no-repeat 0 -84px;
  height:79px;
  width:80px;
}

.cpbtnweather {
  background:url('images/9-12/The_Wonders_of_Science/ctrlpnl.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}

.infobtnweather {
  background:url('images/9-12/The_Wonders_of_Science/info.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}

.credsbtnweather {
  background:url('images/9-12/The_Wonders_of_Science/credits.png') no-repeat 0 -74px;
  height:74px;
  width:74px;
}